// ==========================================
// nextflow.config para Taxprofiler (CETA-GEN)
// Nó: 54 CPUs | 800 GB RAM
// ==========================================

params {
    // Limites do seu nó no SLURM
    max_cpus   = 54
    max_memory = '750.GB' // Deixar 50GB livres para o sistema respirar
    max_time   = '240.h'
}

process {
    // 1. Limpeza (Corre em ambos os scripts)
    // Damos 8 CPUs. O Nextflow vai conseguir limpar várias amostras ao mesmo tempo.
    withName: '.*:FASTP' {
        cpus   = 8
        memory = '32.GB'
    }

    // 2. KrakenUniq (Só é ativado no script do Kraken)
    // 26 CPUs permite que 2 amostras corram em paralelo (26x2 = 52)
    withName: '.*:KRAKENUNIQ_.*' {
        cpus   = 26
        memory = '300.GB' 
    }

    // 3. Kaiju (Só é ativado no script do Kaiju)
    // 26 CPUs permite que 2 amostras corram em paralelo
    withName: '.*:KAIJU_.*' {
        cpus   = 26
        memory = '250.GB' 
    }

    // 4. Tabelas e Gráficos (Krona, Taxpasta)
    withName: '.*:TAXPASTA_.*' {
        cpus   = 4
        memory = '64.GB'
    }
    withName: '.*:KRONA_.*' {
        cpus   = 4
        memory = '32.GB'
    }
}